<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <ul>
            <li v-for="(item, index) in list">
                {{ index }} - {{ item }}
            </li>
        </ul>
        <ul>
            <li v-for="(item) in list">
                {{ index }} - {{ item }}
            </li>
        </ul>
        <ul>
            <li v-for="item in list">
                {{ index }} - {{ item }}
            </li>
        </ul>
    </div>
    <script src="./vue.js"></script>
    <script>
        const app = new Vue({
            el: "#app",
            data: {
                list: ["苹果", "鸭梨", "香蕉"]
            }
        })
    </script>
</body>
</html>