* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
}
body {
    background-color: #F3F4F7;
    height: 2000px;
}
.w {
    width: 1200px;
    margin: 0 auto;
    
}
.header {
    height: 70px;
    
    padding-top: 30px;
}
.header .logo {
    float: left;
    width: 195px;
    height: 42px;
    
    
}
.header .nav {
    float: left;
    width: 250px;
    height: 42px;
    margin-left: 70px;
   
}
.header .search {
    float: left;
    width: 410px;
    height: 40px;
    margin-left: 85px;
    

}
.header .user {
    float: right;
    width: 153px;
    height: 42px;
    
}

.header .nav ul {
    width: 270px;
}
.header .nav ul li {
    float: left;
}
.header .nav ul li a {
    display: block;
    padding: 0 7px;
    line-height: 40px;
    margin-right: 28px;
    font-size: 18px;
    color: #050505;
}
.header .nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
}
.header .search input {
    float: left;
    width: 339px;
    height: 40px;
    border:1px solid #00a4ff;
    /*去掉右边框*/
    border-right: none;
    /*border-right:0*/
    padding-left: 20px;
    /*去掉获取焦点时候显示的黑色框*/
    outline: none;
    font-size: 14px;
    color: #BFBFBF;
}
.header .search button {
    float: left;
    width: 50px;
    height: 42px;
    background-color: #00A4FF;
    border: none;
    background: url(../study/image/btn.png) center center;
}
.header .user img {
    float: left;
    width: 30px;
    height: 30px;
    margin-top: 6px;
}
.header .user span {
    float: left;
    margin-left: 6px;
    line-height: 42px;
}
.banner {
    height: 420px;
    background-color: #1C036C;
}
.banner .w {
    height: 420px;
    background: url(./image/banner2.png) no-repeat center center;
}
.banner .subnav {
    float: left;
    width: 190px;
    /*跟父盒子一样高*/
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
}
/*
.banner .subnav ul {
    margin-top: 12px;
    padding: 0 20px;
}*/
.banner .subnav a {
    font-size: 14px;
    color: #FFF;
    line-height: 44px;
}
.banner .subnav a:hover {
    background-color: #00A4FF;
}
.banner .subnav a span {
    float: right;
}
.banner .course {
    float: right;
    width: 228px;
    height: 300px;
    background-color:#FFF;
}
.banner .course .hd {
    font-size: 18px;
    color: #FFF;
    background-color: #9BCEEA;
    text-align: center;
    line-height: 48px;
}

.banner .course .bd li {
    height: 54px;
    width: 192px;
    margin: 0 auto;
    padding-top: 10px;
    border: 1px solid #E5E5E5;
}
.banner .course .bd li span {
   font-size: 16px;
   color: #4E4E4E;
   font-weight: 700; 
   
}
.banner .course .bd li p {
    margin-top: 3px;
    font-size: 12px;
    color: #A5A5A5;
    font-weight: 700;
}
.banner .course .bd .all {
    display: block;
    width: 198px;
    height: 38px;
    margin: 4px auto;
    border: 1px solid #00a4;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;

} 
.recommend {
    height: 60px;
    background-color: #FFF;
    margin-top: 8px;
    font-size: 16px;
    box-shadow: 0px 2px 3px 0px rgba(118,118,118,.2);
}  

.recommend h4 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00A4FF;
}
.recommend ul {
    float: left;
    margin-left: 30px;
}
.recommend ul li {
    float: left;
    
}

.recommend ul li a {
    padding: 0 30px;
    border-left: 1px solid ;
    color: #050505;
}
.recommend .update {

    float: right;
    margin-right: 25px;
    font-size: 14px;
    color: #00A4FF;
}
.good {
    margin-top: 35px;
}
.good .hd {
    height: 40px;

}
.good .hd h3 {
    float: left;
    font-weight: 400;
    font-size: 20px;
    color: #494949;
}
.good .hd .all {
    float: right;
    margin-right: 30px;
    margin-top: 8px;
    font-size: 12px;
    color: #A5A5A5;
    
}
.good .bd ul {
    width: 1215px;
}
.good .bd ul li {
    width: 228px;
    height: 270px;
    background-color: pink;
    margin: 0 15px 15px 0;
    float: left;
}
.good .bd ul li img {
    width: 228px;
    height: 155px;
}
.good .bd ul li p {
    margin: 20px;
    font-size: 14px;
    color: #050505;
}
.good .bd ul li .info {
    margin-left: 20px;
    font-size: 12px;
    color: #FF7C2D;
}
.good .bd ul li .info span {
    color: #999;
}
.clearfix::after {
    content:"";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

}
.footer {
    height: 417px;
    margin-top: 25px;
    padding-top: 33px;
    background-color: #FFF;
}
.footer .copyright {
    float: left;
}
.footer .copyright img {
    margin-top: 33px;
    margin-bottom: 25px;
}

.footer .copyright p {
    width: 432px;
    font-size: 12px;
    color: #666;
}
.footer .copyright a {
    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #00A4FF;
    margin-top: 15px;
    color: #00A4FF;
    line-height: 34px;
    font-size: 16px;
    text-align: center;
}
.footer .links {
    float: right;
}
.footer .links dl {
    float: left;
    width: 224px;
    font-size: 16px;
    
}
.footer .links dl a {
    color: #333;
}
.footer .links dl dt {
    margin-bottom: 15px;
}
.footer .links dl dd {
    font-size: 12px;
}
.footer .links .last {
    width: 95px;
}